.Header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(black,rgba(0, 0, 0, 0.059));
    position: absolute;
}
.leftButtons{
    display: flex;
    justify-content: space-between;
}
.ProjectLogo{
    width: 200px;
}
.sOut{
    cursor: pointer;
    color: white;
    padding: 5px;
}